*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#main{
    height: 50%;
    width: 50%;
    /*
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    */
    display: grid;
    grid-template-columns: repeat(15, 50px);
    grid-template-rows: repeat(10, 50px);
}

#main > div {
    height: 100px;
    width: 100px;
    background-color: red;
}

#main > div:hover{
    background-color: black;
}

.btn-container{
    top: 100px;
    position: absolute;
}

button{
    padding: 10px 20px;
    background-color: red;
    font-size: 14px;
    font-weight: bold;
    color: white;

}